.slider {
  position: relative;
  height: 60px;
  width: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.503),
    rgba(0, 0, 0, 0.726),
    rgba(0, 0, 0, 0.726),
    rgba(0, 0, 0, 0.726),
    rgba(0, 0, 0, 0.726),
    rgba(255, 255, 255, 0.503)
  );

  border: #ffffff24 1px solid;
  border-radius: 1000px;
}

.circle {
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: 10;

  height: 60px;
  width: 60px;
  border-radius: 50%;

  transform: translate(2%, -50%);
  background-image: url("../../assests/icon-green phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__text {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;

  color: rgb(255, 255, 255);
  margin: 0;
  min-width: max-content;

  transform: translate(-50%, -50%);
}
